parameters:
    level: 5
    paths:
        - src
        - tests
    excludePaths:
        - src/views/*
        - src/config/*
    ignoreErrors:
        - '#Call to an undefined method [a-zA-Z0-9\\]+::createMock\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::expects\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::once\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::willReturn\(\)#'
        - '#Call to an undefined method [a-zA-Z0-9\\]+::with\(\)#' 